@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Starjedi';
    src: url('../fonts/Starjedi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'PressStart2P-Regular';
    color: #050000;
    font-size: 14px;
}

h2 {
    font-family: 'PressStart2P-Regular';
    font-size: 30px;
    text-align: center;
}